<div class="contract-header print-hide flexbox">
    <button type="button" class="form-btn toggle-collapse" ng-click="hide = !hide;"><i
            class="fa fa-fw" ng-class="'fa-caret-' + (hide ? 'down' : 'up')"></i></button>
    <div class="text-mono contract-title" data-game-id="{{contract.game._id}}">
        {{contract.game.name}} - {{'contract.header' | translate:{ring: contract.ring} }}
    </div>
    <div class="fa-fw" ng-if="!contract.game.active">
        <i class="fa fa-fw fa-pause text-warning paused" title="{{'game.state.paused' | translate}}"></i>
    </div>
    <div ng-if="contract.game.active">
        <button type="button" class="form-btn accomplished" ng-click="attemptTokenKill()">
            <span>
                <i class="fa fa-fw fa-check"></i> {{'contract.accomplished' | translate}}
            </span>
        </button>
    </div>
</div>

<div ng-if="!hide && printLayout" class="contract-body print-page">
    <div class="contract-target">
        <h3 ng-bind-html="'contract.body.title' | translate:project | html"></h3>

        <h1 class="wanted">
            <i class="fa fa-fw fa-crosshairs"></i>
            {{'contract.wanted' | translate | uppercase}}
            <i class="fa fa-fw fa-crosshairs"></i>
        </h1>

        <h2 data-user-id="{{contract.details.target._id}}">
            <span class="target" ng-bind="contract.details.target.name"></span>
        </h2>
        <!--suppress HtmlUnknownTarget -->
        <img class="portrait" src="/img/wanted.png" alt="image"/>

        <div class="message">
            <div ng-if="contract.details.target.message">
                <i class="fa fa-fw fa-angle-double-right"></i>
                {{contract.details.target.message}}
                <i class="fa fa-fw fa-angle-double-left"></i>
            </div>
            <div ng-if="!contract.details.target.message"><i class="fa fa-fw fa-ellipsis-h"></i></div>
        </div>

        <div class="flexbox">
            <div class="flex-50 text-mono">{{contract.game.name}} - {{'game.ring' | translate}} #{{contract.ring}}</div>

            <div class="flex-50">
                <label translate>contract.body.token</label><br/>
                &dagger;<strong class="text-mono token" ng-bind="contract.details.token"></strong>&dagger;
            </div>
        </div>
    </div>

    <div class="contract-public">
        <div class="flexbox flexbox-vertical">
            <div class="flexbox">
                <div class="flex-50 flexbox flexbox-vertical">
                    <div>
                        <h3 translate>contract.body.recipient</h3>

                        <h2><span class="recipient">
                            <span ng-if="contract.game.multiGroup">{{alias.group.name}} &ndash;</span>
                            <span ng-bind="alias.name"></span>
                        </span></h2>

                        <h4 class="text-mono">
                            {{contract.game.name}} - {{'game.ring' | translate}} #{{contract.ring}}
                        </h4>

                        <small class="text-mono">
                            {{'contract.body.end' | translate}} <span moment="contract.game.schedule.end"></span>
                        </small>
                    </div>
                </div>

                <div class="flex-50">
                    <!--suppress HtmlUnknownTarget -->
                    <img src="/logo_credits.svg" alt="murderer.js" class="cover"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contract-body" ng-if="!hide && !printLayout">
    <div class="print-block hidden">
        <div class="flexbox">
            <div class="flex-50 text-right" translate>game.title.singular</div>
            <div class="flex-50 text-left text-mono">
                <span ng-bind="contract.game.name"></span>
            </div>
        </div>
        <div class="flexbox">
            <!-- TODO move ring-related translations into ring.json -->
            <div class="flex-50 text-right" translate>game.ring</div>
            <div class="flex-50 text-left text-mono">
                <span>#{{contract.ring}}</span>
            </div>
        </div>
    </div>
    <div class="flexbox">
        <div class="flex-50 text-right" translate>contract.wanted</div>
        <div class="flex-50 text-left" data-user-id="{{contract.details.target._id}}">
            <span ng-bind="contract.details.target.name"></span>
        </div>
    </div>
    <div class="flexbox">
        <div class="flex-50 text-right" translate>contract.message</div>
        <div class="flex-50 text-left">
            <span ng-bind="contract.details.target.message"></span>
        </div>
    </div>
    <div class="flexbox">
        <div class="flex-50 text-right" translate>contract.token</div>
        <div class="flex-50 text-left text-mono token-hover">
            <span class="token-hover-placeholder" translate>contract.body.tokenPlaceholder</span>
            <span class="token-hover-token" ng-bind="contract.details.token"></span>
        </div>
    </div>
</div>

<div class="contract-footer print-hide"></div>
