<div>
    <div ng-bind-html="::'cookieNotice.terms' | translate | html"></div>
    <div class="cookie-options">
        <a ng-click="acceptCookies()" href="javascript:void 0;">
            <i class="fa fa-fw text-success fa-check"></i> {{::'cookieNotice.accept' | translate}}
        </a><br/>
        <a ng-click="rejectCookies()" href="javascript:void 0;">
            <i class="fa fa-fw text-danger fa-times"></i> {{::'cookieNotice.reject' | translate}}
        </a>
    </div>
</div>
