<div class="container flexbox">
    <div class="flex-no-shrink">&copy; 2016 Ole Reglitzki</div>
    <div id="footer-navigation">
        <a href="/cookie-policy" translate>footer.cookiePolicy</a>
        |
        <a href="/privacy-policy" translate>footer.privacyPolicy</a>
        |
        <a href="/legal-info" translate>footer.legalInfo</a>
    </div>
    <div class="flex-no-shrink">
        <i class="fa fa-gitlab"></i>
        Source Code on <a href="https://gitlab.com/oleasteo/murderer.js" class="no-decoration">GitLab</a>
    </div>
</div>
