> tfoot ul.pagination {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    margin: 4px 0;

    &.active {
      > a, > a:hover {
        background-color: fade(mix(@color-info, @text-color, 70%), 40%);
        cursor: default;
      }
    }

    > a {
      font-family: monospace;
      font-size: 1.2rem;
      line-height: 1.2 * @line-height-computed;
      background-color: fade(@text-color, 20%);
      border-right: 1px solid fade(@text-color, 10%);
      padding: 3px 5px;

      &:hover {
        background-color: fade(@text-color, 30%);
      }
    }
    &:first-child > a {
      border-left: 1px solid fade(@text-color, 10%);
    }
  }
}
