> thead > tr {
  background-color: fade(@text-color, 15%);

  > th {
    padding: 6px 10px;
    border: 1px solid fade(@text-color, 15%);

    &.hover {
      background-color: fade(@text-color, 10%);
    }

    &.primary {
      background-color: mix(@text-color, fade(@color-primary, 20%), 2%);
      &:hover, &.hover {
        background-color: mix(@text-color, fade(@color-primary, 20%), 5%);
      }
    }

    &.th-link {
      cursor: pointer;
      display: table-cell;

      &:hover {
        background-color: fade(@text-color, 10%);
      }

      &.text-muted {
        cursor: not-allowed;
        &:hover {
          background-color: transparent;
        }
      }
    }

    &[st-sort] {
      cursor: pointer;

      &:hover {
        background-color: fade(@text-color, 10%);
      }

      &:before {
        .fa-icon();
        width: (18em / 14);
        content: @fa-var-sort;
        opacity: 0.3;
      }

      &.st-sort-ascent:before {
        content: @fa-var-sort-asc;
        opacity: 1;
      }

      &.st-sort-descent:before {
        content: @fa-var-sort-desc;
        opacity: 1;
      }
    }
  }
}
