a.text-muted {
  cursor: not-allowed !important;
  color: @text-muted !important;
  text-decoration: none;
}

a.text-info {
  color: @color-info !important;
}

a.text-success {
  color: @color-success !important;
}

a.text-warning {
  color: @color-warning !important;
}

a.text-danger {
  color: @color-danger !important;
}

a.text-primary {
  color: @color-primary !important;
}
