<div ng-if="loading" class="text-center"><i class="fa fa-fw fa-3x fa-spin fa-spinner"></i></div>

<div ng-if="!loading">

    <table class="table table-striped" id="games-table" st-table="displayedGames" ng-if="games.length"
           data-st-safe-src="games">
        <thead>
        <tr>
            <th st-sort="sort.state" class="fa-fw" title="{{'game.state' | translate}}"></th>
            <th st-sort="author.username" class="fa-fw"></th>
            <th st-sort="name" translate>game.name</th>
            <th st-sort="schedule.end" data-st-sort-default="reverse" translate>game.details.end</th>
            <th st-sort="rings" class="width-10" translate>game.rings</th>
            <th st-sort="sort.participants" class="width-20" translate>game.participants</th>
            <th class="fa-fw" ng-if="identity.guest == false"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in displayedGames" data-game-id="{{game._id}}" ng-class="{primary: game.joined}">
            <td class="text-center">
                <span class="fa fa-fw" ng-class="stateIcon[game.state]"
                      title="{{'game.state.' + game.state | translate}}"></span>
            </td>
            <td class="game-author" title="{{game.author.username}}">
                <img ng-src="{{avatar(21, game.author.avatarUrl)}}" alt="{{'game.author.alt' | translate:game.author}}"
                     title="{{'game.author.alt' | translate:game.author}}"/>
            </td>
            <td><a ng-href="/games/{{game._id}}" ng-bind="game.name"></a></td>
            <td class="text-center" moment="game.schedule.end" data-moment-format="LLL"></td>
            <td class="text-mono text-center" ng-bind="game.rings"></td>
            <td class="text-mono text-center">
                {{game.participants}} <span ng-if="game.limit.participants">/ {{game.limit.participants}}</span>
            </td>
            <td class="text-center" ng-if="identity.guest == false">
                <a class="fa fa-fw fa-sign-in" title="{{'game.join' | translate}}" ng-if="game.mayJoin"
                   ng-click="join(game)"></a>
                <a class="fa fa-fw fa-sign-out" title="{{'game.leave' | translate}}" ng-if="game.mayLeave"
                   ng-click="leave(game)"></a>
                <a class="fa fa-fw fa-bomb" title="{{'game.suicide.attempt' | translate}}" ng-if="game.maySuicide"
                   ng-click="suicide(game)"></a>
            </td>
        </tr>
        </tbody>
        <tfoot ng-show="games.length > 10">
        <tr>
            <td colspan="7" class="text-center">
                <div st-pagination="" data-st-items-by-page="10" data-st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>

    <div ng-if="!games.length" class="text-warning text-center">
        <i class="fa fa-fw fa-2x fa-meh-o"></i> {{'game.noneFound' | translate}} <i class="fa fa-fw fa-2x fa-meh-o"></i>
    </div>

</div>
