<div ng-if="loading" class="text-center"><i class="fa fa-fw fa-3x fa-spin fa-spinner"></i></div>

<div ng-if="!loading" id="game" data-game-id="{{game.id}}">

    <div class="flexbox">
        <!--<button type="button" class="flex-100 no-margin form-btn form-btn-block form-btn-info" ng-click="news()">-->
        <!--    <i class="fa fa-fw fa-fire"></i> {{'game.news.plain' | translate}}-->
        <!--</button>-->
        <!--<button type="button" class="flex-100 no-margin form-btn form-btn-block form-btn-info" ng-click="score()">-->
        <!--    <i class="fa fa-fw fa-trophy"></i> {{'game.score.plain' | translate}}-->
        <!--</button>-->
        <button type="button" class="flex-100 no-margin form-btn form-btn-block form-btn-info" ng-click="table()">
            <i class="fa fa-fw fa-th-list"></i> {{'game.table.plain' | translate}}
        </button>
        <!--<button type="button" class="flex-100 no-margin form-btn form-btn-block form-btn-info" ng-click="stats()">-->
        <!--    <i class="fa fa-fw fa-pie-chart"></i> {{'game.stats.plain' | translate}}-->
        <!--</button>-->
    </div>

    <div class="flexbox game-details">
        <div class="flex-50">
            <div class="flexbox game-title">
                <div class="fa-fw">
                    <span class="fa fa-fw fa-lock text-danger" title="{{'game.locked' | translate}}"
                          ng-if="game.inviteOnly || game.passwords"></span>
                    <span class="fa fa-fw fa-unlock-alt" title="{{'game.unlocked' | translate}}"
                          ng-if="!(game.inviteOnly || game.passwords)"></span>
                    <span class="fa fa-fw" ng-class="stateIcon[game.state]"
                          title="{{'game.state.' + game.state | translate}}"></span>
                </div>
                <div class="flexbox flexbox-vertical game-title-flexbox">
                    <h2 ng-bind="game.name"></h2>
                </div>
            </div>
        </div>
        <div class="flex-50 text-center">
            <label class="control-label no-margin-top" ng-show="game.schedule.start"
                   translate>game.details.start</label>
            <div moment="game.schedule.start"></div>
        </div>
        <div class="flex-50 text-right">
            <label class="control-label no-margin-top" translate>game.details.end</label>
            <div moment="game.schedule.end"></div>
        </div>
    </div>

    <div class="flexbox game-details">
        <div class="flex-50">
            <div class="text-mono">{{game.startMeta.rings}} {{'game.details.initialRings' | translate}}</div>
            <div class="text-mono">{{game.startMeta.lives}} {{'game.details.initialLives' | translate}}</div>
        </div>
        <div class="flex-50 text-center">
            <div class="text-mono">{{game.rings.length}} {{'game.details.rings' | translate}}</div>
            <div class="text-mono">
                {{game.participants}}
                <span ng-if="game.limit.participants">/ {{game.limit.participants}}</span>
                {{'game.details.participants' | translate}}
            </div>
        </div>
        <div class="flex-50 text-right" data-user-id="{{game.author._id}}">
            <!-- 40px == 2 * @line-height-computed [less-variable] -->
            <img class="author-avatar" ng-src="{{avatar(40, game.author.avatarUrl)}}"
                 alt="{{'game.author.alt' | translate:game.author}}"
                 title="{{'game.author.alt' | translate:game.author}}"/>
        </div>
    </div>

    <div ng-if="game.groups.length > 1" class="flexbox groups-wrapper">
        <!-- TODO colorize joined group with color-success -->
        <div class="flex-no-shrink group-panel text-center" ng-repeat="groupData in game.groups">
            <div title="{{groupData.title}}">
                <small class="text-mono">({{groupData.users.length}})</small>
                <b ng-bind="groupData.group.name"></b>
                <div ng-if="groupData.group.description" ng-bind="groupData.group.description"></div>
            </div>
        </div>
    </div>

    <!-- TODO indicate self name and message -->

    <div class="game-rings list-group list-group-spaced" ng-if="game.rings.length">
        <div class="list-group-item" ng-repeat="ring in game.rings" data-ring-id="{{ring._id}}"
             ng-class="'list-group-item-' + (ring.present ? (ring.active > 1 ? (ring.alive ? 'info' : 'warning') : ring.alive ? 'success' : 'danger') : 'default')">
            <div class="flexbox">
                <div class="flex-50">{{'game.ring' | translate}} <span class="text-mono">#{{$index + 1}}</span></div>
                <div class="flex-50 text-center">
                    <span class="text-mono" ng-bind="ring.active"></span> {{'game.usersAlive' | translate}}
                </div>
                <div class="flex-50 text-right">
                    <!--<a ng-click="showRingNews($index)" class="fa fa-fw fa-fire"-->
                       <!--title="{{'game.news.plain' | translate}}"></a>-->
                    <a ng-click="showRingTable($index)" class="fa fa-fw fa-th-list"
                       title="{{'game.table.plain' | translate}}"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="game-description well" ng-bind-html="game.description | html" ng-if="game.description"></div>

    <button type="button" class="form-btn form-btn-block form-btn-success" ng-if="game.mayJoin" ng-click="join()">
        <i class="fa fa-fw fa-sign-in"></i> {{'game.join' | translate}}
    </button>
    <button type="button" class="form-btn form-btn-block form-btn-warning" ng-if="game.mayLeave" ng-click="leave()">
        <i class="fa fa-fw fa-sign-out"></i> {{'game.leave' | translate}}
    </button>
    <button type="button" class="form-btn form-btn-block form-btn-danger" ng-if="game.maySuicide" ng-click="suicide()">
        <i class="fa fa-fw fa-bomb"></i> {{'game.suicide.attempt' | translate}}
    </button>

</div>
