<article id="home" class="flexbox">
    <div class="content">

        <h1 translate>home.project</h1>

        <div ng-bind-html="'home.content' | translate | html"></div>

        <h1 translate>home.justAGame</h1>

        <p translate>home.purelyFictional</p>

        <h1 translate>home.credits</h1>

        <p>
            <span ng-bind-html="'home.inspired' | translate | html"></span>
            <a href="https://kif.fsinf.de/wiki/M%C3%B6rderspiel">KIF-Wiki</a>,
            <a href="http://www.spielewiki.org/wiki/M%C3%B6rderspiel">spielewiki.org</a>
        </p>
    </div>

    <div class="logo"><img id="logo-credits" src="/logo_credits.svg"/></div>
</article>
