.contract-header {
  text-align: left;
  margin: 15px 0 0;
  padding: @contract-header-padding;
  font-size: 1.2rem;
  line-height: 1.2 * @line-height-computed;
  font-weight: bold;

  .contract-title {
    flex: 1;
    padding: 0 10px;
  }

  .paused {
    opacity: 0.5;
  }

  .form-btn {
    height: @line-height-computed * 1.2 + @contract-header-padding * 2;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    box-shadow: none;
    display: block;
    &.toggle-collapse {
      margin: -@contract-header-padding 0 -@contract-header-padding -@contract-header-padding;
      font-size: 1.5rem;
      line-height: 1.5 * @line-height-computed;
      padding: 0 @contract-header-padding;
      background: fade(@text-color, 10%);
      border-right: 1px solid fade(black, 20%);
      &:hover {
        background-color: fade(@text-color, 15%);
      }
      &:focus {
        border-right-color: fade(@color-info, 60%);
        background-color: fade(mix(@color-info, @text-color, 40%), 20%);
      }
    }
    &.accomplished {
      margin: -@contract-header-padding -@contract-header-padding -@contract-header-padding 0;
      background: fade(mix(@color-primary, @text-color, 60%), 20%);
      padding: 0 8px;
      border-left: 1px solid fade(black, 15%);
      &:hover {
        background-color: fade(mix(@color-primary, @text-color, 75%), 30%);
      }
      &:focus {
        border-left-color: fade(@color-info, 60%);
        background-color: fade(@color-primary, 40%);
      }
    }

    > * {
      opacity: 0.5;
    }
    &:hover > * {
      opacity: 0.7;
    }
    &:focus > * {
      opacity: 0.8;
    }
  }

  .form-control {
    box-shadow: none;
    border: none;
    &:focus {
      box-shadow: 0 0 2px 2px @color-info;
    }
  }
}
