.contract {
  text-align: center;

  @import "layouts/compact";
  @import "layouts/print";

  @import "footer";
  @import "header";
  @import "tokenHover";
}

.game-contracts {
  .colorize(@color) {
    background-color: fade(@color, 15%);

    .contract-header {
      background-color: fade(@color, 35%);
      border-top: 4px solid fade(@color, 30%);
      border-bottom: 4px solid fade(@color, 30%);
    }

    .contract-footer {
      background-color: fade(@color, 35%);
      border-top: 4px solid fade(@color, 30%);
    }
  }

  &.active .contract {
    .colorize(@contract-color-active);
  }
  &.inactive .contract {
    .colorize(@contract-color-inactive);
  }

  > hr {
    margin: 30px 0;
  }
}
