<h2>Beschreibung</h2>

<p>
    <strong>murderer.js</strong> ist ein hybrides Spiel das reale Interaktion mit einem Web-Service kombiniert. Es
    eignet sich gut als Nebenl&auml;ufiges Spiel &uuml;ber mehrere Tage bis Wochen in mittelgro&szlig;er (~15) bis
    gro&szlig;er (~200) Spieleranzahl.<br/>

    Es handelt sich hierbei um ein Spiel der sozialen Interaktion und kann gut als Kennenlern-Spiel auf mehrt&auml;gigen
    Konferenzen gespielt werden (Namensschilder/Klebestreifen mit Namen sind hilfreich).
</p>

<h2>Spielablauf</h2>

<p>
    In einem Spiel bekommen alle Teilnehmer individuelle <em>Mordauftr&auml;ge</em>, die online eingesehen und
    ausgedruckt werden k&ouml;nnen. Nun muss jeder Spieler versuchen, m&ouml;glichst viele dieser Auftr&auml;ge zu
    erf&uuml;llen bevor das Spiel zu festgelegter Zeit beendet wird.
</p>

<h3>Wie wird ein Auftrag erf&uuml;llt?</h3>

<p>
    Dies ist der sozial interaktive Aspekt des Spiels. Um einen Auftrag zu erf&uuml;llen muss der <em>M&ouml;rder</em>
    dem <em>Ziel</em> einen beliebigen Gegenstand &uuml;bergeben, ohne dass <em>Zeugen</em> anwesend sind. Ein
    Mordgegenstand muss freiwillig angenommen werden, darf nicht geworfen werden und muss erst vom M&ouml;rder,
    anschlie&szlig;end vom <em>Opfer</em> <b>prim&auml;r</b> getragen werden.<br/>

    Je nach Teilnehmergruppe muss der M&ouml;rder nat&uuml;rlich erst einmal herausbekommen, wer seine Ziele
    &uuml;berhaupt sind.
</p>

<h3>Wer gilt als Zeuge?</h3>

<p>
    Jeder nicht am Mord beteiligte Spieler, der in dem <em>Ring</em> in welchem der Mord stattfinden soll am Leben ist,
    kann diesen bezeugen und somit annullieren. Falls ein Spieler also einen Mord begehen m&ouml;chte, muss er
    zun&auml;chst sicherstellen, dass kein Zeuge die Gegenstand&uuml;bergabe mitbekommt.
</p>

<h3>Was ist ein Ring?</h3>

<p>
    Um jedem Spieler mehrere Mordauftr&auml;ge zuzuweisen, kann ein Spiel aus mehreren Ringen bestehen.<br/>

    In jedem Ring hat jeder dort lebendige Spieler genau einen Mordauftrag f&uuml;r einen anderen dort lebendigen
    Spieler. Hierbei ist auch jeder Spieler nur Ziel genau eines Mordauftrages und die Auftr&auml;ge bilden einen Kreis.
</p>

<h3>Was passiert wenn ein Auftrag erf&uuml;llt wird?</h3>

<p>
    Wird jemand umgebracht, so verifiziert er dies indem er sich den Auftrag zeigen l&auml;sst. Nun muss das Opfer
    seinem M&ouml;rder seinen <em>Token</em> und sein Ziel aus dem Ring, in dem der Mord stattfand, nennen. Dieser Token
    steht auf dem Auftrag, den das Opfer in eben diesem Ring zu erf&uuml;llen hatte (und nun daran gescheitert ist).
    Sobald der M&ouml;rder diesen Token auf dieser Website eingibt (zusammen mit einer kurzen Notiz zum Mord), bekommt
    er den Auftrag seines Opfers &uuml;berschrieben und kann munter weiter morden.<br/>

    Falls das Opfer seinen Auftrag in ausgedruckter Form zur Verf&uuml;gung hat, kann dieser dem M&ouml;rder
    &uuml;bergeben werden (Achtung: Auch diese &Uuml;bergabe kann als Mord in einem anderen Ring gelten, sollte der
    M&ouml;rder allerdings explizit eine indirekte &Uuml;bergabe verlangen, muss diesem Folge geleistet werden). Der
    Mord muss nicht unmittelbar eingetragen werden, sodass der M&ouml;rder zum Beispiel mehrere Morde in einem Ring
    begehen kann und diese erst sp&auml;ter eintr&auml;gt. Es muss beim Eintragen allerdings auf die Reihenfolge der
    Morde geachtet werden. Auch ist zu beachten, dass alle Morde bis zum Spielende eingetragen werden m&uuml;ssen. Ist
    ein Mord zum Spielende nicht eingetragen, wird dieser annulliert.
</p>

<h3>Mehrere Tage? Das ist mir zu lang!</h3>

<p>
    Den Spielern steht es frei, zu beliebigem Zeitpunkt <em>Selbstmord</em> zu begehen und somit aus allen noch aktiven
    Ringen freiwillig auszutreten. Falls jemand diese Option w&auml;hlt, bekommen diejenigen Spieler die ihn als Ziel
    hatten eine E-Mail Benachrichtigung und k&ouml;nnen sofort ihren neuen Auftrag (den fr&uuml;heren Auftrag des
    Selbstm&ouml;rders) online einsehen.<br/>

    Selbstmord ist eine sichere M&ouml;glichkeit aus dem Spiel auszusteigen, ohne den anderen Spielern den Spa&szlig; zu
    nehmen. Falls ein Spieler nach einem Mord, aber bevor dieser online eingegeben wurde, Selbstmord begeht, z&auml;hlt
    der Mord dennoch sobald der Token nachtr&auml;glich eingegeben wird.
</p>

<h3>Wer gewinnt?</h3>

<p>
    Es gewinnt derjenige Spieler, der zum Zeitpunkt des Spielendes die meisten Morde (Summiert &uuml;ber alle Ringe)
    begangen hat. Sollten mehrere Spieler gleich viele haben, gewinnt derjenige von ihnen mit den <b>wenigsten</b>
    verbleibenden Leben (da dieser mehr soziale Aktivit&auml;t aufweist). Falls auch hier Gleichstand herrscht, gewinnt
    derjenige mit den h&ouml;chsten Bewertungen der Mord-Nachrichten. Sollte auch hier keine eindeutige Entscheidung
    existieren, gibt es wohl keinen alleinigen Gewinner.
</p>

<h2>Sonderregeln</h2>

<ul>
    <li id="multi-kill-rule">
        Falls jeder potentielle Zeuge innerhalb einer Minute ein Opfer desselben M&ouml;rders wird (durch Auftr&auml;ge
        in verschiedenen Ringen), kann keines der Opfer den Mord an den Anderen bezeugen.
    </li>
    <li id="one-at-a-time-rule">
        Eine &Uuml;bergabe kann nur einen Mord verursachen. Falls ein M&ouml;rder sein Opfer in verschiedenen Ringen
        umbringen muss, muss dies auch durch mehrere &Uuml;bergaben geschehen.
    </li>
    <li id="active-witness-rule">
        Zeugen m&uuml;ssen von sich aus den Mord unterbinden (indem sie den Beteiligten sagen, dass sie es beobachtet
        haben). Aus diesem Grund muss die Aussage vom M&ouml;rder, dass er das Opfer umgebracht hat umgehend kommen (in
        angemessener Lautst&auml;rke), ansonsten wird der Mord ung&uuml;ltig. Sollte das Opfer jemanden direkt fragen,
        ob er den Mord bezeugt hat, ist dieser als Zeuge unzul&auml;ssig. Spieler, die nicht selbstst&auml;ndig merken
        was sich vor ihnen abspielt, k&ouml;nnen nichts bezeugen.
    </li>
    <li id="murderless-zones-rule">
        Falls an einem Ort von Autorit&auml;tspersonen (Spielleiter, etc.) eine <em>Mordfreie Zone</em> ausgerufen wird
        (z.B. wird ein anderes Spiel gespielt, welches Gegenstands&uuml;bergabe involviert), kann dort kein Mord
        stattfinden.
    </li>
</ul>

<h2>Erg&auml;nzungen</h2>

<ul>
    <li>
        Toiletten und Duschen sind <b>immer</b> Mordfreie Zonen.
    </li>
    <li>
        Es sollte nicht zu ernst genommen werden. Die ganzen Tage lang nur keine Gegenst&auml;nde anzunehmen ist zwar
        eine M&ouml;glichkeit (eine ziemlich schwierige &uuml;brigens), bietet aber weniger Spa&szlig; als sich eher
        darauf zu konzentrieren, die eigenen Auftr&auml;ge zu erf&uuml;llen.
    </li>
    <li>
        Der Begriff <em>Gegenstand</em> soll nicht ausschlie&szlig;en, dass Menschen oder andere Lebewesen (sofern
        Menschen/Tierfreundlich behandelt) als <em>Mordgegenst&auml;nde</em> verwendet werden k&ouml;nnen.
    </li>
    <li>
        In Notf&auml;llen (Verletzungen, etc.) soll auf keinen Fall Hilfeleistung unterlassen werden, weil ein
        Gegenstand nicht angenommen werden kann. Somit sind Notf&auml;lle jeglicher Art als <em>Mordfreie
        Situationen</em> einzustufen.
    </li>
</ul>
