<nav class="navigation">
    <div class="container">
        <ul>
            <li class="branding" ng-class="{active: checkRoute('/')}">
                <a href="/" title="murderer.js">
                    <img src="/logo.svg" width="48" alt="{{'navigation.home' | translate}}"/>
                </a>
            </li>
            <li ng-class="{active: checkRoutePrefix('/games')}">
                <a href="/games" title="{{'navigation.games' | translate}}">
                    <i class="fa fa-fw fa-server"></i> <small translate>navigation.games</small>
                </a>
            </li>
            <li ng-class="{active: checkRoutePrefix('/contracts')}">
                <a href="/contracts" title="{{'navigation.contracts' | translate}}">
                    <i class="fa fa-fw fa-book"></i> <small translate>navigation.contracts</small>
                </a>
            </li>
            <li ng-class="{active: checkRoutePrefix('/news')}">
                <a href="/news" title="{{'navigation.news' | translate}}">
                    <i class="fa fa-fw fa-fire"></i> <small translate>navigation.news</small>
                </a>
            </li>
            <li ng-class="{active: checkRoutePrefix('/acp')}">
                <a href="/acp" title="{{'navigation.acp' | translate}}" class="text-warning">
                    <i class="fa fa-fw fa-wrench"></i> <small translate>navigation.acp</small>
                </a>
            </li>
        </ul>
        <ul class="language-selector"></ul>
        <ul id="identity">
            <li class="avatar">
                <img ng-src="{{avatar(48)}}"/>
            </li>
            <li>
                <a class="text-mono" href="/logout" target="_self" title="{{'navigation.logout' | translate}}">
                    <div class="logout">
                        {{identity.username}} <i class="fa fa-sign-out"></i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
