.ring-status {
  margin: 15px auto;
  text-align: center;
  page-break-inside: avoid;

  .colorize(@color, @intensity) {
    background-color: fade(@color, @intensity);
    border: 3px solid mix(@color, black, 30%);
  }

  > div {
    padding: 10px 0;
    line-height: 1.5;

    > .fa {
      color: rgba(233, 104, 104, 0.8);

      .not-present & {
        color: rgba(0, 158, 206, 0.85);
      }

      &.fa-trophy {
        color: rgb(255, 168, 36);
      }
    }
  }

  .not-present & > div.not-resolved {
    .colorize(@color-info, 45%);
  }
  .not-present .resolved & > div.survivor {
    .colorize(@color-info, 30%);
  }
  .not-present .resolved & > div.no-survivor {
    .colorize(@color-info, 15%);
  }
  .present .resolved & > div.survived {
    .colorize(@color-success, 45%);
  }
  .present .resolved .not-survived & > div.no-survivor {
    .colorize(@color-primary, 15%);
  }
  .present .resolved .not-survived & > div.survivor {
    .colorize(@color-primary, 30%);
  }
  .present .not-resolved & > div.dead {
    .colorize(@color-primary, 45%);
  }
}
