//noinspection CssUnknownTarget
@import "/libs/font-awesome/variables";
//noinspection CssUnknownTarget
@import "/libs/font-awesome/mixins";

/*================================================= Custom Variables =================================================*/

// Main colors
@bg-color: #2F2F2F;
@color-info: #128BF4;
@color-success: #44AD00;
@color-warning: #C88230;
@color-danger: #C24B3D;
@color-primary: #B80A0A;

// Cookie Notice
@cookie-notice-background-color: #B9E3FF;
@cookie-notice-color: black;

// Navigation
@navigation-height: 50px;
@navigation-background: mix(@bg-color, @color-primary, 86%);
@navigation-border-bottom-height: 2px;
@navigation-padding: 2px;

// Footer
@footer-border-top-height: 1px;
@footer-background: @navigation-background;
@footer-padding: @navigation-padding;

// Links
@link-color: fade(white, 85);
@link-color-hover: white;
@link-external-color: fade(white, 85);
@link-external-hover-color: white;
@link-external-icon: true;
@link-external-icon-color: @link-external-color;
@link-external-hover-icon-color: @link-external-hover-color;

// Texts
@font-family-monospace: monospace;
@font-family-base: sans-serif;
@text-color: mix(white, @bg-color, 80%);
@text-muted: #707070;
@font-size-base: 14px;
@line-height-base: 1.428571429; // 20/14
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px

/*=============================================== Bootstrap Variables  ===============================================*/

@zindex-modal-background: 1040;
@zindex-modal: 1050;

@border-radius-large: 6px;

@modal-inner-padding: 15px;
@modal-title-padding: 15px;
@modal-title-line-height: @line-height-base;
@modal-content-bg: mix(@bg-color, @text-color, 90%);
@modal-content-border-color: fade(@bg-color, 40%);
@modal-content-fallback-border-color: mix(@bg-color, @text-color, 95%);
@modal-backdrop-bg: black;
@modal-backdrop-opacity: .75;
@modal-header-border-color: fade(@text-color, 20%);
@modal-footer-border-color: @modal-header-border-color;

@modal-lg: 1200px;
@modal-md: 800px;
@modal-sm: 400px;

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
