&.print-layout {
  margin: 0 auto;

  .contract-target {
    height: @print-paper-height * 2 / 3 + 0.5cm; // 0.5cm is static border-compensation
    border-bottom: 0.08cm solid fade(black, 35%);

    .wanted {
      font-family: serif;
      color: black;
      font-size: 2.5rem;
      line-height: 2.5 * @line-height-computed;
    }

    .target {
      min-width: 50%;
      padding: 0.05cm 0.4cm;
      border: 0.1cm dotted fade(black, 45%);
      background-color: fade(black, 35%);
      display: inline-block;
      text-transform: uppercase;
    }

    .portrait {
      background-color: #a4a4a45e;
      width: 6cm;
      border: 0.25cm double black;
      margin: 1cm auto;
      display: block;
      
      @media print {
        background-color: white;
        filter: brightness(130%);
      }
    }

    .message {
      height: 3cm;
      font-family: serif;
      font-weight: bold;
      font-variant: small-caps;
      padding: 0 1cm;
      font-size: 1.2em;
      line-height: 1.2 * @line-height-computed;

      .fa {
        opacity: 0.6;
        color: #8A3900;
      }
    }

    .token {
      font-size: 1.2rem;
      line-height: 1.2 * @line-height-computed;
      margin: 10px 20px;
      display: inline-block;
    }
  }

  .contract-public {
    height: @print-paper-height / 3 - 0.08cm - 0.5cm; // 0.5cm is static border-compensation

    .flexbox-vertical {
      height: 100%;
      justify-content: center;
    }

    > .flexbox-vertical {
      > div {
        height: @contract-cover-size;
      }

      .cover {
        height: @contract-cover-size;
        width: @contract-cover-size;
      }
    }

    .recipient {
      min-width: 50%;
      padding: 0.05cm 0.4cm;
      border: 0.1cm dotted fade(black, 45%);
      background-color: fade(black, 35%);
      display: inline-block;

      > span {
        text-transform: uppercase;
      }
    }
  }
}
