<nav class="navigation">
    <div class="container">
        <ul>
            <li class="branding" ng-class="{active: checkRoute('/')}">
                <a href="/" title="murderer.js">
                    <img src="/logo.svg" width="48" alt="{{'navigation.home' | translate}}"/>
                </a>
            </li>
            <li ng-class="{active: checkRoutePrefix('/games')}">
                <a href="/games" title="{{'navigation.games' | translate}}">
                    <i class="fa fa-fw fa-server"></i> <small translate>navigation.games</small>
                </a>
            </li>
            <li ng-class="{active: checkRoutePrefix('/news')}">
                <a href="/news" title="{{'navigation.news' | translate}}">
                    <i class="fa fa-fw fa-fire"></i> <small translate>navigation.news</small>
                </a>
            </li>
            <li ng-class="{active: checkRoute('/login')}">
                <a href="/login" title="{{'navigation.login' | translate}}">
                    <i class="fa fa-fw fa-sign-in"></i> <small translate>navigation.login</small>
                </a>
            </li>
        </ul>
        <ul class="language-selector"></ul>
    </div>
</nav>
