nav, footer, .cookie-notice, .breadcrumb, #identity, #language-selector,
[st-sort]:not(.st-sort-ascent):not(.st-sort-descent):before,
.print-hide {
  display: none !important;
}

.print-block {
  display: block !important;
}

.form-btn {
  opacity: 0.25;
}
