.contract {
  // fix colors of contracts in general
  background-color: white !important;
  // remove hover-necessity for tokens
  .token-hover {
    background-color: inherit;

    > .token-hover-token {
      display: inline;
    }

    > .token-hover-placeholder {
      display: none;
    }
  }
}

// set spacing between components
.ring-status, .compact-layout {
  margin: 0.3cm auto;
}

.game-contracts {
  // colorization for compact contracts
  &.active .compact-layout {
    .contract-body {
      background-color: fade(@contract-color-active, 12%);
    }
  }
  &.inactive .compact-layout {
    .contract-body {
      background-color: fade(@contract-color-inactive, 12%);
    }
  }
  &:last-child > .game-contract:last-child {
    // remove last page-break
    .print-page {
      page-break-after: inherit;
    }

    // remove last margin-bottom
    .ring-status, .contract-footer {
      margin-bottom: 0;
    }
  }
  &:first-child > .game-contract:first-child {
    // remove first margin-top
    .ring-status, .contract-header {
      margin-top: 0;
    }
  }

  > hr {
    display: none;
  }
}
