.form-control {
  box-sizing: border-box;
  padding: 4px 8px;
  display: block;
  width: 100%;
  max-width: 100%;
  background: mix(@bg-color, white, 5%) none;
  color: @bg-color;
  line-height: @line-height-base;
  height: @line-height-computed + 2 * 4px;
  border: 1px solid fade(@bg-color, 50%);
  margin: 3px 0;
}

.form-control, .form-checkbox {
  outline: none;

  &:focus {
    border-color: @color-info;
    box-shadow: 0 0 2px 2px @color-info;
  }
}

textarea.form-control {
  height: @line-height-computed * 2 + 2 * 4px;
}
