<div class="modal-body game-description" ng-bind-html="parsedMarkdown | html" ng-if="!loading"></div>

<div class="modal-body text-center" ng-if="loading"><i class="fa fa-4x fa-spin fa-spinner"></i></div>
