#game {
  img.author-avatar {
    display: block;
    float: right;
  }

  .game-details, .game-rings {
    margin: 10px 0;
  }

  .groups-wrapper {
    flex-wrap: wrap;
    margin: 10px -5px;

    .group-panel {
      flex-basis: 20%;
      flex-grow: 1;

      > div {
        margin: 5px;
        padding: 2px 5px;
        line-height: 1.2em;
        background-color: fade(@color-primary, 20%);
        border: 3px outset fade(@color-primary, 20%);
      }
    }
  }

  .game-description {
    img {
      max-width: 100%;
    }
  }

  .game-title {
    justify-content: flex-start;

    > .game-title-flexbox {
      margin: 0 8px;
      justify-content: space-around;

      > h2 {
        margin: 0;
      }
    }
  }
}

.game-table {
  .names {
    width: 180px;
  }

  .murderer, .victim {
    font-size: 0.9rem;
    line-height: 0.9 * @line-height-computed;
    text-transform: uppercase;
    font-family: monospace;
  }

  .murderer {
    font-weight: bold;
  }

  .victim {
    font-style: oblique;
    opacity: 0.75;
  }

  .murder-info {
    min-width: 40px;
    margin: 1px 5px 1px 0;
    padding: 0 3px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid @bg-color;
    background-color: fade(@text-color, 12%);

    .news-author {
      margin-bottom: -3px;
    }
  }
}
