#home {
  flex-wrap: wrap;

  .content {
    flex: 1;
    flex-basis: 600px;
    margin-right: 25px;

    > h1:first-child {
      margin-top: 0;
    }
  }

  .logo {
    text-align: center;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;

    img {
      max-width: 100%;
    }
  }
}
