ul#acp-main {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;

  > li {
    display: inline-block;
    flex-shrink: 0;
    min-width: 200px;

    > a {
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      background-color: fade(@text-color, 2%);
      border: 1px solid fade(@text-color, 6%);
      &:hover {
        background-color: fade(mix(@text-color, @color-primary, 80%), 7%);
      }

      > div {
        font-size: 2rem;
        line-height: 2 * @line-height-computed;
      }
    }
  }
}